*{
    margin: 0;
    padding: 0;
}
h1,h2,h3,h4,h5,h6,p ul{
    margin: 0;
    padding: 0;
}
header{

width: 90%;

/* background-color: red; */

 margin: auto; 

display: flex;

justify-content: space-between;

margin: 30px auto;

align-items: center;
}
.logo{

width: 20%;
}
.logo img{

}

nav{

width: 50%;
}
nav ul{

display: flex;

justify-content: right;
}

nav ul li{

margin-left: 50px;

list-style-type: none;
}

nav ul li a{

text-transform: uppercase;

text-decoration: none;
font-family: 'Playfair Display', serif;
}

/* banner part */


.banner{
    width: 90%;
    margin: auto;

}

.banner img{
    width: 100%;
}
/* banner end */

/* weakend start */
    .weakend{
        width: 80%;
        margin: auto;
        padding: 100px 0;
    }

    .weakend h4{
        color: #b4ad9e;
        text-transform: capitalize;
        margin-bottom: 20px;
        font-weight: 400;
        font-size: 15px;
    }

    .weakend h1{
        color: #626262;
        font-size: 35px;
        margin-bottom: 15px;
        font-family: 'Playfair Display', serif;
        font-weight: 400;

    }

    .weakend p{
        color: #626262;
        margin-bottom: 15px;
        font-family: 'Playfair Display', serif;
    }

    .weakend a{
        text-decoration: none;
        color: #b4ad9e;
        text-transform: uppercase;
        margin-bottom: 30px;
        font-size: 15px;
    }
/* other_section */
.post_section{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.single_post{
    width: 48%;
    margin: 50px 0;
   
}

.single_post img{
    width: 100%;
}

.single_post h4{
        color: #b4ad9e;
        text-transform: capitalize;
        /* margin-bottom: 20px; */
        font-weight: 400;
        font-size: 15px;
        margin-top:15px ;
}

.single_post h1{
    color: #626262;
    font-size: 25px;
    margin-bottom: 15px;
    font-family: 'Playfair Display', serif;
    font-weight: 400;
}

.single_post p{
        color: #626262;
        margin-bottom: 15px;
        font-family: 'Playfair Display', serif;
}
/* post_section_end */
.log_section{
    width: 100%;
    /* height: 100px; */
    background-color: #f0f0f0;
}
.sign_up{
    text-align: center;
    padding: 30px;
   
}
.sign_up h1{
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-size: 25px;
}
.sign_up input{
    margin: 30px 0;
    border: none;
    border-bottom: 1px solid #111;
    background: transparent;
    width: 32%;
   
}

.sign_up input:focus{
    outline: none;
}
.sign_up input::placeholder{
    color: #9b9b9b;
}
.inp{
    position: relative;
}
.inp i{
    position: absolute;
    bottom: 31px;
    left: 600px;
}

/* sign_up_section_end */
.another_section{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding-top: 42px;
  
}
.running{
    width: 48%;
}
.running img{
    width: 100%;
}

.running h4{
    color: #b4ad9e;
    text-transform: capitalize;
    /* margin-bottom: 20px; */
    font-weight: 400;
    font-size: 15px;
    margin-top:15px ;
}
.running h1{
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-size: 25px;
}

.running p{
        color: #626262;
        margin-bottom: 15px;
        font-family: 'Playfair Display', serif;
}

/* another_section_end  */

.button{
   width: 100%;
   /* height: 200px; */
}
.btn{
    text-align: center;
    padding: 70px 0;
}
.btn button{
   padding: 15px;
   font-size: 15px;
   background: transparent;
   font-family: 'Playfair Display', serif;
   font-weight: 400;
   border: 1px solid black;
}



footer{
    width: 100%;
    background-color: #f0f0f0;
    /* height: 100px; */
    
}

footer .foot{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 20px 0;
}
.left{
    display: flex;
    margin-left: 10px;
    
}

.left h5{
    margin: left 10px;
    color: #606060;
}
.left h4{
    margin-left: 20px;
    color: #606060;
}

.right{
    display: flex;
    align-items: center;
   
}

.right h5{
    margin-left: 20px;
    color: #606060;
    font-size: 15px;
}

.right ul{
    list-style: none;
    display: flex;
}
.right ul li{
    text-decoration: none;
}
 

.right ul li a{
    margin-left: 20px;
    text-decoration: none;
    color: #626262;
}
.right ul li a i{
    font-size: 20px;
   
}